body {
    margin: 0;
    color: #333;
}
h1 {
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
    letter-spacing: 0.3em;
}
div {
    box-sizing: border-box;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 50px 20px;
}
.b-header {
    margin: 40px 0 20px;

    .header {
        &__wrapper {
            max-width: 1240px;
            margin: 0 auto;
        }
        &__links {
            display: flex;
            margin: 0 -20px;
            justify-content: center;
        }
        &__link {
            box-sizing: border-box;
            padding: 0 10px;

            a:link,
            a:visited {
                display: block;
                box-sizing: border-box;
                padding: 12px 20px;
                width: 200px;
                font-size: 20px;
                text-decoration: none;
                text-align: center;
                text-transform: uppercase;
                border: 2px solid #e6e6e6;
                transition: background 0.2s ease;
            }
            a:hover {
                background: #e6e6e6;
                color: #000;
            }
        }
        &__link--active {
            a:link,
            a:visited {
                background: #e6e6e6;
                color: #000;
            }
        }
    }
}
